* {
  margin: 0;
  padding: 0;
}
.container{
  max-width: 1440px;
  margin: 0 auto;
}
/* ==================Header Top */
.header-top-bar {
  width: 100%;
  background-color: #000000;
  display: flex;
}
.inner-header-top-bar {
  width: 81%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
}
.inner-inner-header-top-bar {
  width: 73%;
  display: flex;
  justify-content: space-between;
  padding: 12px 0;
}
.header-top-bar-center-text,
.header-top-bar-right-content {
  display: flex;
  gap: 8px;
}
.header-top-bar-center-text p,
.header-top-bar-right-content p {
  font-family: Poppins;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0%;
  color: #fafafa;
}
.header-top-bar-right-content {
  gap: 5px;
  align-items: center;
}
.header-top-bar-center-text a {
  font-family: Poppins;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0%;
  text-align: center;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 0%;
  color: #fafafa;
}
.eng-drop {
  width: 14.78px;
  height: 15.73px;
}
.eng-drop img {
  width: 100%;
  color: #ffffff;
}
/* =========================Main Header Bar Search etc Icons */
.main-header-bar{
  width: 100%;
}
.inner-main-header-bar{
  width: 81%;
  margin: 0 auto;
  display: flex;
}
.main-header-logo{

}
.main-header-logo h2{
  font-family: Inter;
font-weight: 700;
font-size: 24px;
line-height: 24px;
letter-spacing: 3%;
}
.main-header-remaining-content{
  display: flex;
}
.main-header-nav-bar ul{
  display: flex;
  gap: 48px;
}
.main-header-nav-bar ul li{
  list-style: none;
}
.main-header-nav-bar ul li a{
  text-decoration: none;
  font-family: Poppins;
font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: 0%;
text-align: center;
color: #000000;
}
.main-header-search-and-icons{
  display: flex;
}
.main-header-search{

}
.main-header-right-icons{

}